@font-face {font-family:"NFL";src:url("62f21f04317a4fcf65fd6177f6bda3a3.eot?") format("eot"),url("62f21f04317a4fcf65fd6177f6bda3a3.woff") format("woff"),url("62f21f04317a4fcf65fd6177f6bda3a3.ttf") format("truetype"),url("62f21f04317a4fcf65fd6177f6bda3a3.svg#NFL") format("svg");font-weight:normal;font-style:normal;}

.card{
/*display: inline-block;*/
border:2px solid black;
margin-top:1vh;
margin-bottom:1vh;

}

.add-player{
    margin-top:5vh;
}

.well{
    margin-right:5vw;
    margin-left:5vw;
}

h5{
    margin-left:6vw;
    font-weight:bold;
}

.last{
    height:10vh;
}

.card-img-top{
    margin-top:0vh;
}

.card-block{
    color:white;
    padding-top:2vh;
}

.fullname{
    font-weight:bold;
}

.select{
    color:white;
    width:50%;

}

.form-group{
   margin-left:20vw;
}

.panel-heading{
    font-size:3rem;
}

.buttons{
    display:flex;
    justify-content:center;
}

#add{
background-color:royalblue;
}

#remove{
background-color:maroon;
}

.black{
    background-color:black;
}

.darkgreen{
  background-color:darkgreen;
}

.row{
    margin-left:2vw;
}

.card-img-top{
    background-color:white;
}

.brown{
    background-color:#654321;
    margin-top:5vh;
}

.black{
    background-color:black;
}

.title{
    color:white;
    text-align:center;
    font-size:6rem;
    margin-top:10vh;
    margin-bottom:10vh;
}

.football{
    display:flex;
    justify-content:center;
    margin-top:5vh;
}

body{
    font-family:"NFL";
}

.goalpost{
    text-align:center;
    margin-left:1vw;
    margin-top:-15vh;
}
.football{
    display:flex;
    justify-content:center;
    margin-top:5vh;
}

.goalpost{
    text-align:center;
    margin-left:1vw;
    margin-top:-15vh;
}