.card{
/*display: inline-block;*/
border:2px solid black;
margin-top:1vh;
margin-bottom:1vh;

}

.add-player{
    margin-top:5vh;
}

.well{
    margin-right:5vw;
    margin-left:5vw;
}

h5{
    margin-left:6vw;
    font-weight:bold;
}

.last{
    height:10vh;
}

.card-img-top{
    margin-top:0vh;
}

.card-block{
    color:white;
    padding-top:2vh;
}

.fullname{
    font-weight:bold;
}

.select{
    color:white;
    width:50%;

}

.form-group{
   margin-left:20vw;
}

.panel-heading{
    font-size:3rem;
}

.buttons{
    display:flex;
    justify-content:center;
}

#add{
background-color:royalblue;
}

#remove{
background-color:maroon;
}

.black{
    background-color:black;
}

.darkgreen{
  background-color:darkgreen;
}

.row{
    margin-left:2vw;
}

.card-img-top{
    background-color:white;
}

.brown{
    background-color:#654321;
    margin-top:5vh;
}

.black{
    background-color:black;
}